*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# Signaturschluessel - NIEMALS committen/pushen (geheim!)
*.keystore
*.jks
keystore.properties
